* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* About section */
#about {
    background-color: rgba(219, 241, 228, 0.76);
}
.imgg{
width: 100px;
}

.skill-por:hover{
transform: scale(1.2) ;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
  border-radius: 20px;
}
.card{
    box-shadow: 0px 4px 8px 10px rgb(27, 133, 88);
}
.font{
     font-family: "Playwrite DE SAS", cursive;
 

}
/* Equal image size */
.img-container {
  width: 100%;
  height: 220px;
  overflow: hidden;

}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}





